<!-- The content below is only a placeholder and can be replaced. -->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>
<div class="main-div">
  <mat-card class="z-depth center">
    <form [formGroup]="formModel" (ngSubmit)="onSubmit()" (reset)="onReset()">
      <mat-form-field class="half-width">
        <div>
          <input
            placeholder="Enter only prime numbers!"
            matInput
            numbersonly
            formControlName="noPrimeInput"
            autocomplete="off"
            (focus)="onFocus()"
          />
        </div>
      </mat-form-field>
      <div>
        <button mat-raised-button type="submit" [disabled]="!formModel.valid">
          Primes Only!
        </button>
        <button mat-raised-button type="reset">Reset</button>
      </div>
    </form>
    <div id="primeLabel" *ngIf="showLabel">
      {{ inputValue }} is a prime number!
    </div>
  </mat-card>
</div>
