/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 70px;
  font-size: 250%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body::after {
  background: url('assets/NCC1701.jpg');
  content: '';
  opacity: 0.2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
